:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin:0px;
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#navbar{
  z-index: 1;
  height: fit-content;
  background-color: #242424;
  border-bottom: #f9f9f9 solid 1px;
  width: 100vw;
  position: fixed;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#navbar h1{
  margin:20px;
  float: left;
}

#navbar #options{
  margin: 20px;
  float: right;
}

table{
  height: fit-content;
  margin:20px;
  border-collapse: collapse;
  /* border: #242424 solid 1px; */
  font-size: 13px;
}

table,th{
  background-color: #242424;
  border: white solid 1px;
}

table td{
  background-color: white;
  color: #242424;
  border: #242424 solid 1px;
}

table th,td{
  text-align: center;
  padding: 8px;
}

form{
  padding: 20px;
  box-shadow:0.5px 0.5px 2px 1px rgb(0, 0, 0);
  border-radius: 3px;
  color: #242424;
}

form div label,p{
  margin: 5px 0px;
  font-size: 13px;
  color: black;
  font-family: inherit;
  font-weight: 600;
}

.submit{
  margin:10px 0px;
}

form input{
  color: black;
  font-family: system-ui;
  /* width: 100%; */
}

form input[type="number"], input[type="text"]{
  background-color: white;
  border: solid black 1px;
  border-radius: 3px;
  padding: 10px;
}

form input[type="range"]{
  accent-color: rgb(22, 24, 26);
}

#name{
  width: 100%;
}


.float-right{
  float: right;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.col{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

#input-col-page{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.msg-card{
  opacity: 0;
  padding:5px 10px;
  border-radius: 5px;
  border: 0.5px solid black;
  position:absolute;
  bottom: 20px;
  right: 20px;
}

.animate-card{
  transition: all;
  animation: jiggle-disappear 2s linear 1;
}


@keyframes jiggle-disappear {
  100%{
    transform: translateY(0px);
    opacity: 0;
  }
  75%{
    transform: translateY(10px);
    opacity: 0.5;
  }
  50%{
    transform: translateY(-10px);
    opacity: 0.8;
  }
  25%{
    transform: translateY(-10px);
  }
  0%{
    transform: translateY(0px);
    opacity:1;
  }
}

.msg-card p{
  font-weight:400;
}

#main{
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
}

